<div style="background-color:#8fc4b7" class="d-flex justify-content-center row  mt-5  rounded">


    <h1 dir="rtl" class="col-12  mt-5  p-5 d-flex justify-content-center">پایان آزمون   </h1>

    <h3 dir="rtl" class="col-12  mt-5  p-5   d-flex justify-content-center">تشکر بابت وقتی  که گذاشتید.</h3>
</div>
