@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-image: url('images/background.png');
        background-repeat: no-repeat;
        background-size: cover; /* Set the background size to 50% */
        flex-direction: column;
        padding:25% ;
    }

    #button-17{
        align-items: center;
        appearance: none;
        background-color: deepskyblue;
        border-radius: 24px;
        border-style: none;
        box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
        box-sizing: border-box;
        color: #3c4043;
        cursor: pointer;
        display: inline-flex;
        fill: currentcolor;
        font-family: "Google Sans",Roboto,Arial,sans-serif;
        font-size: 14px;
        font-weight: 500;
        height: 48px;
        justify-content: center;
        letter-spacing: .25px;
        line-height: normal;
        max-width: 100%;
        overflow: visible;
        padding: 2px 24px;
        position: relative;
        text-align: center;
        text-transform: none;
        transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: auto;
        will-change: transform,opacity;
        z-index: 0;
    }

    .button-17:hover {
        background: #F6F9FE;
        color: #174ea6;
    }

    .button-17:active {
        box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
        outline: none;
    }

    .button-17:focus {
        outline: none;
        border: 2px solid #4285f4;
    }

    .button-17:not(:disabled) {
        box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
    }

        .button-17:not(:disabled):hover {
            box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
        }

        .button-17:not(:disabled):focus {
            box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
        }

        .button-17:not(:disabled):active {
            box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
        }

    .button-17:disabled {
        box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
    }
   
</style>

<div class="pt-4 p-lg-4">
    <img style="width:80px;height:80px;" src="~/images/university_of_tehran_logo.png" />
</div>
<div class="d-flex justify-content-center flex-column mt-5">
    <div class="d-flex flex-column justify-content-center mt-5">
        <h5 class="d-flex justify-content-center" style="font-family:'B Koodak'">پژوهشکده فناوری های همگرا</h5>
        <br />
        <h5 class="d-flex justify-content-center" style="font-family:'B Koodak'">
            دانشکده برق و کامپیوتر دانشگاه تهران
        </h5>

        <h1 dir="rtl" class="d-flex justify-content-center mt-4" style="font-family:'B Koodak'">پلتفرم جمع آوری داده و وظیفه یادآوری داستان </h1>
    </div>

    <div class="d-flex justify-content-center h-50 mt-4 p-5">
        <div class="w-50">
            <h5 dir="rtl" class="border-2 rounded-2 d-flex justify-content-center" style="font-family:'B Koodak';">
               
                 دی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید، تا از نظر گرافیکی نشانگر چگونگی نوع و اندازه فونت و ظاهر
                متن باشد. معمولا طراحان گرافیک برای صفحه‌آرایی، نخست از متن‌های
                 و بی‌معنی استفاده می‌کنند تا صرفا به مشتری یا صاحب کار خود نشان دهند که صفحه طراحی یا صفحه
                بندی شده بعد از اینکه متن در آن قرار گیرد چگونه به نظر می‌رسد و قلم‌ها و اندازه‌بندی‌ها چگونه در نظر گرفته شده‌است. از آنجایی که طراحان عموما نویسنده متن نیستند و وظیفه رعایت حق
                تکثیر متون را ندارند و در همان حال کار آنها به نوعی وابسته به متن می‌باشد آنها با استفاده از م
                حتویات ساختگی، صفحه گرافیکی خود را صفحه‌آرایی می‌کنند تا مرحله طراحی و صفحه‌بندی را به پایان برند.
            </h5>
            <div class="d-flex justify-content-center mt-4">
                <button onclick="redirectToRegisterPage()" id="button-17" class="btn btn-primary mt-5 pt-2 pb-2">شروع</button>
            </div>
        </div>
    </div>

</div>


<!-- HTML !-->
<script>
    function redirectToRegisterPage() {
        window.location.href = '@Url.Action("Register", "Home")';
    }
</script>

 
